# captain's 8 Oct mapping
prefix clerk- colour130
prefix rr-clerk- colour130
project ready-reckoner colour28
project customer-care colour33
project escape-from-pallet-town-web colour160
project nut-and-bolt-store colour208
project firstmate colour245
